.modal_container {
  z-index: 2;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 25%;
  right: 25%;
  background-color: white;
  border-width: 2px;
  border-radius: 2px;
  border-color: #ABABAB;
  padding: 4px;
}
#cancel_button {
  position: absolute;
  float: left;
  bottom: 10%;
  left: 10%;
  font-size: larger;
  display: inline-block;
  background-color: red;
  border-width: 2px;
  border-radius: 2px;
  border-color: gray;
}
#done_button {
  position: absolute;
  float: right;
  font-size: larger;
  bottom: 10%;
  right: 10%;
  display:inline-block;
  background-color: green;
  border-width: 2px;
  border-radius: 2px;
  border-color: gray;
}
