@media (max-width: 500px) {
  #tagging-container{
    
  }
}

@media (min-width: 1000px) {
  #tagging-container-show {
    background-color: white;
    border: solid;
    border-width: 2px;
    border-color: black;
    position: fixed;
    top: 20%;
    bottom: 20%;
    right: 20%;
    left: 20%;
    z-index: 100;
  } 
  #tagging-container-hide {
    position: fixed;
    top: 20%;
    bottom: 20%;
    right: 20%;
    left: 20%;
    z-index: 100;
    visibility: hidden;
  }

  #cancel_button {
    position: relative;
    bottom: 10%;
    left: 10%;
    display: inline-block;
    background-color: red;
    border-width: 2px;
    border-radius: 2px;
    border-color: gray;
  }
  #done_button {
    position: relative;
    float: right;
    bottom: 10%;
    right: 10%;
    display:inline-block;
    background-color: green;
    border-width: 2px;
    border-radius: 2px;
    border-color: gray;
  }
}
