.new-note-button {
  position: absolute;
  bottom:5px;
  left:5px;
  border-width: 2px;
  border-color: #ABABAB;
  border-style: solid;
  width:34%;
}
.notelist {
  width: 34%;
  height: 100vh;
  background-color: LightGray;
  border-radius: 2px;
  padding: 5px;
}
.tabs-bar {
  padding: 5px;
  position: relative;
  top: -25px;
}
